    <hr>
    <footer>
      <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12" class="copyright">
          <h6>Popular links</h6>
          <ul class = "footerlist">
            <li><a href="/index">Home</a></li>
            <li><a href="/workaholic">Information About Workaholic</a></li>
            <li><a href="/facts">Australian Data Graph</a></li>
            <li><a href="/family">How To Help Your Family</a></li>
            <li><a href="/life">Recommendations for enjoy life</a></li>
          </ul>
      </div>
      <div class="col-md-6 col-sm-12" >
          <h6>Record your family's activities</h6>
          <ul class = "footerlist">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/workaholics">Check Your Record</a></li>
            <li><a href="/userprofile">User Profile</a></li>
            <% if(currentUser){ %>
              <li><a href="/userprofile"><%= currentUser.username %>'s profile</a></li>
              <li><a href="/logout">Log Out</a></li>
            <% } %>
          </ul>
      </div>
    </div>
  </div>
  </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Work Life Balance 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts -->
    <script src="/js/clean-blog.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
      $(document).ready(function() {
        // $('#example').DataTable();
        $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#example').DataTable();
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
      } );
    </script>
  </body>

</html>