<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1></h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading">Our Website</h2>
          <p>Our website focuses on a family of workaholics, since workaholics may be not aware of the negative influence 
          of spending too much time on work. We provide sequential services for their family, from an assessment of 
          workaholic to tips of helping workaholics back to life. In this way, the family would have a better understanding 
          of workaholics’ work and life balance and help them to improve their life quality.</p>
          <h2 class="section-heading">Our team</h2>
          <img src = "/img/TeamLogo.PNG" style = "display: block; margin-left: auto; margin-right: auto;">
          <p>We are a collaborative Team from Monash University, our focus is to solve real-world problems with IT technologies.</p>
          <p>We have 4 team members on our team, Garrick Wong is our data scientist, Terry Yao, and Jeremy Chen is our main 
          programmer, Evie Zhu is our Customer relation and marketing manager..</p>
        </div>
      </div>
    </div>

<!--<div class="embed-responsive embed-responsive-4by3">-->
<!--  <iframe class="embed-responsive-item" src="/worktimegraph"></iframe>-->
<!--</div>-->
    <hr>
<% include partials/footer %>