<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1></h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading">Our Website</h2>
          <p>Our website focus on family of workaholics, since workaholics may be not aware of  the negative 
          influence of spending too much time on work. We provide sequential services for their family, from 
          assessment of workaholic to tips of helping workaholics back to life. In this way, the family would
          have a better understanding of workaholics’ work and life balance, and help them to improve their 
          life quality.</p>
          <h2 class="section-heading">Our team</h2>
          <img src = "/img/TeamLogo.PNG" style = "display: block; margin-left: auto; margin-right: auto;">
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
     <div class="row" >
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/workaholicThumb.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>Is your loved one a workaholic?</h4>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div class="thumbnail">
                   <img  src="/img/familyThumb.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>What can i do?</h4>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/help.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>How can i help?</h4>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/help.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>How can i help?</h4>
                   </div>
                </div>
            </div>
            </div>
            </div>
    <hr>
<% include partials/footer %>