<% include partials/header %>
<header class="masthead" style="background-image: url('/img/arts.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Arts in Melbourne</h1>
              <!--<span class="subheading">Personal information and tracking records</span>-->
            </div>
      </div>
    </header>

    <div class="container" id = "1">
          <div class="row">
            <div class="col-sm-12">  

          <table class="display" id="example" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Theme</th>
                <th>Weather & Direction</th>
            </tr>
        </thead>
        <tbody>
          <% arts.forEach(function(art){ %>
            <tr>
                <td><%= art.FeatureName %></td>
                <td><%= art.SubTheme %></td>
                <td>
                    <a href = "/arts/<%= art._id %>"><i class="material-icons">cloud</i><i class="material-icons">commute</i></a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <br>
    <a href = "/life" class = "btn btn-secondary">Go back</a>
        </div>
        </div>
      </div>
    
<% include partials/footer %>