<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active" >
        <img src="/img/workaholic-min.jpg" style="width:100%;height:600px;">
        <div class="carousel-caption">
          <h1>Step 1 </h1>
          <h3>Check facts about work life balance and do a quick assessment</h3>
          <a class="btn btn-default btn-lg" href="/facts">  Go  </a>
        </div>
      </div>
    
      <div class="item">
        <img src="/img/family-min.jpeg" style="width:100%;height:600px;">
        <div class="carousel-caption">
          <h1>Step 2</h1>
          <h3>How to help your family</h3>
          <a class="btn btn-default btn-lg" href="/family">  Go  </a>
        </div>
      </div>
    
      <div class="item">
        <img src="/img/enjoylife.jpg" style="width:100%;height:600px;">
        <div class="carousel-caption">
          <h1>Step 3</h1>
          <h3>Stop hesitating, Bring your family, Start enjoying life!!</h3>
          <a class="btn btn-default btn-lg" href="/life">  Go  </a>
        </div>
      </div>
        
      <div class="item">
        <img src="/img/daily-min.jpeg" style="width:100%;height:600px;">
        <div class="carousel-caption">
          <h1>Step 4</h1>
          <h3>Recording your family's progression</h3>
          <a class="btn btn-default btn-lg" href="/workaholics">  Go  </a>
        </div>
      </div>
    </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
