<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/contact-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>If You have any questions regard data issues, please contact our Data Scientist: <a href="mailto:gwon8@student.monash.edu" >Garrick Wong</a></p>
          
          <hr>
          <p>If You have any questions regard programming issues, please contact our Programmers: <a href="mailto:jche0035@student.monash.edu">Jeremy Chen</a></p>
          
          <hr>
          <p>and <a href="mailto:yyao0007@student.monash.edu">Terry Yao</a></p>
          
          <hr>
          <p>If You have any questions regard customer relation adn marketing issues, please contact our PR Manager: <a href="mailto:yyao0007@student.monash.edu" >Evie Zhu</a></p>
          
        </div>
      </div>
    </div>
    <hr>
<% include partials/footer %>