<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/contact-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>If You have any general questions, please contact our Team: <a href="mailto:monashproblemsolvers@gmail.com" class="btn btn-success">Team Problem Solvers</a></p>
          <hr>
          <p>If You have any questions regarding data issues, please contact our Data Scientist: <a href="mailto:gwon8@student.monash.edu" class="btn btn-success">Garrick Wong</a></p>
          <hr>
          <p>If You have any questions regarding programming issues, please contact our Programmers: <a href="mailto:jche0035@student.monash.edu" class="btn btn-success">Jeremy Chen</a></p>
          <hr>
          <p>and <a href="mailto:yyao0007@student.monash.edu" class="btn btn-success">Terry Yao</a></p>
          <hr>
          <p>If You have any questions regarding customer relation or marketing issues, please contact our PR Manager: <a href="mailto:yyao0007@student.monash.edu" class="btn btn-success">Evie Zhu</a></p>
          
        </div>
      </div>
    </div>
<% include partials/footer %>