<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/contact-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>If You have any questions regard data issues, please contact our Data Scientist: <strong>Garrick Wong</strong></p>
          <a href="mailto:gwon8@student.monash.edu" class="btn btn-success btn-xs">Send Email To Garrick</a>
          <hr>
          <p>If You have any questions regard programming issues, please contact our programmers: <strong>Jeremy Chen</strong></p>
          <a href="mailto:jche0035@student.monash.edu" class="btn btn-success btn-xs">Send Email To Jeremy</a>
          <hr>
          <p>and <strong>Terry Yao</strong></p>
          <a href="mailto:yyao0007@student.monash.edu" class="btn btn-success btn-xs">Send Email To Terry</a>
          <hr>
          <p>If You have any questions regard customer relation adn marketing issues, please contact our PR manager: <strong>Evie Zhu</strong></p>
          <a href="mailto:yyao0007@student.monash.edu" class="btn btn-success btn-xs">Send Email To Evie</a>
        </div>
      </div>
    </div>
    <hr>
<% include partials/footer %>