<% include partials/header %>
    <header class="masthead" style="background-image: url('/img/workaholic.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>What is the difference between a hard worker and a workaholic?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- What is workaholic? Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Hard workers mentality</th>
                  <th scope="col">Workaholic mentality</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Work is a required obligation</td>
                  <td>Work is a place to separate themselves from unwanted feelings and relationships</td>
                </tr>
                <tr>
                  <td>There is always time for family and friends even if there is a lot of work to do</td>
                  <td>Work is the most important, even more than family and friends</td>
                </tr>
                <tr>
                  <td>Will negatively react to impossible challenges at work</td>
                  <td>Love to challenge the impossible at work</td>
                </tr>
                <tr>
                  <td>Able to step away from work and focus on other things they’re doingn</td>
                  <td>Will always be thinking about work despite what they’re doing</td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
      </div>
    </article>
    <hr>
    <% include partials/footer %>