<% include partials/header %>
<!--Page Header-->
    <header class="masthead" style="background-image: url('/img/cbd.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Explore work life balance</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    
    <!--Main content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <style>
                * {box-sizing: border-box}
                
                /* Set height of body and the document to 100% */
                body, html {
                    height: 100%;
                    margin: 0;
                    font-family: Arial;
                }
                
                /* Style tab links */
                .tablink {
                    background-color: #666;
                    color: white;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    font-size: 17px;
                    width: 25%;
                }
                
                .tablink:hover {
                    background-color: #929593;
                }
                
                /* Style the tab content (and add height:100% for full page content) */
                .tabcontent {
                    color: black;
                    display: none;
                    padding: 100px 20px;
                    height: 100%;
                }
                
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
                th, td {
                    padding: 5px;
                }
                th {
                    text-align: left;
                }
                </style>
                </head>
                <body>
                <a href="/assessment" class="btn btn-info btn-xs">Is your family member working too much? quick assessment >></a>
                <hr>
                <button class="tablink" onclick="openPage('Work', this, 'DodgerBlue')" id="defaultOpen" href="#Work">Work</button>
                <button class="tablink" onclick="openPage('Sleep', this, 'DodgerBlue')" href="#Sleep">Sleep</button>
                <button class="tablink" onclick="openPage('Exercise', this, 'DodgerBlue')" href="#Exercise">Exercise</button>
                <button class="tablink" onclick="openPage('Leisure', this, 'DodgerBlue')" href="#Leisure">Leisure</button>
                
                <div id="Work" class="tabcontent">
                    <h4>How does working too much affect your family</h4>
                    <p>
                        A study on Parents’ long work hours and the impact on family life by Lindy Fursman in 2009 found that the 
                        increase (or high) amount of time in work results in the decrease (or low) amount of time with children this can result in:
                        <br>
                        The parent coming home all tired and grumpy; while the kids are excited and happy that they’re home, but the last thing the 
                        parent wants is people or children bugging them after a long day of work. 
                        <br>
                        Children were less able to take part in other 
                        activities such as sports or music where they will get to spend time together with parents in the car going to and from those 
                        activities. 
                        <br>
                        The partner being overloaded with domestic duties while working full-time. Whereas those not working feeling unable 
                        to take on paid work or training.
                    </p>
                    <h4>Australian Workers Data (by gender)</h4>
                    <p>All full time employees in Australia, average weekly total working hours is 39.3 hours (40.3 hours for males and 37.9 hours for females)</p>
                    <iframe scrolling="no" width=100% height=580 src="/paidgendergraph" frameborder=0 marginwidth="50">
                    </iframe>
                    <h4>Australian Workers Data (by industry)</h4>
                    <p>Among full-time non-managerial employees paid at the adult rate, Machinery operators and drivers had the highest average 
                    weekly total hours paid for (43.3 hours). Clerical and administrative workers and Professionals both had the lowest average 
                    weekly total hours paid for (37.9 hours).</p>
                    <iframe scrolling="no" width=100% height=740 src="/paidindustrygraph" frameborder=0 marginwidth="50">
                    </iframe>
                </div>
                
                <div id="Sleep" class="tabcontent">
                    <h4>Sleep is a crucial part of work life balance</h4>
                    <p>Sleep affects everyone in the family. When everyone gets enough sleep, there are benefits for all. When one of the family 
                    members doesn’t get enough rest, it affects everyone in the family. The time in which one partner sleeps and wakes up can affect 
                    the other. One partner would stay up later than intended to accompany the other; to spend some more together. This then could 
                    lead to them being sleep deprived as well.</p>
                    <h4>Recomended sleep time</h4>
                    <p>National Sleep Foundation’s Sleep Duration Recommendations:</p>
                    <table style="border: 1px solid black;">
                      <tr>
                        <th>Age</th>
                        <th>Recommended</th>
                        <th>May be appropriate</th>
                        <th>Not recommended</th>
                      </tr>
                      <tr>
                        <td>Young Adults(18-25 years)</td>
                        <td>7 to 9 hours</td>
                        <td>6 hours,10 to 11 hours </td>
                        <td>Less than 6 hours, More than 11 hours</td>
                      </tr>
                      <tr>
                        <td>Adults(26-64 years)</td>
                        <td>7 to 9 hours</td>
                        <td>6 hours, 10 hours</td>
                        <td>Less than 6 hours, More than 10 hours</td>
                      </tr>
                    </table>  
                </div>
                
                <div id="Exercise" class="tabcontent">
                      <h4>Why exercise is important to work-life balance</h4>
                      <p>
                          Exercise produces endorphins and serotonin that improve your mood. The mood of a person  greatly affects how they perceive 
                          things, when their mood is bad everything seems at their worst, whereas when their mood is good things don’t seem as bad as 
                          they appear. This then affects interaction within families. 
                      </p>
                      <h4>Australian National Health Survey</h4>
                      <p>More men than women aged 18-64 years participated in sufficient physical activity in the last week (57.7% compared with 53.3%). 
                        Similar proportions of men and women were inactive in 2014-15 (15.2% and 14.4% respectively).
                        <br>
                        Of men aged 18-64 years, 57.7% participated in sufficient physical activity in the last week, 
                        compared with 53.3% of women of the same age. Similar proportions of men and women were inactive in 2014-15 (15.2% and 14.4% respectively).
                        <br>
                        For adults aged 18-64 years, physical activity guidelines recommend 150-300 minutes of moderate or 75-150 minutes of vigorous 
                        physical activity, or an equivalent combination of both, per week. The guidelines also recommend that adults aged 18-64 years 
                        do muscle strengthening activities on at least 2 days of each week
                        </p>
                        <h4>Australian male exercise data</h4>
                        <iframe scrolling="no" width=100% height=580 src="/maleexercisegraph" frameborder=0 marginwidth="50">
                        </iframe>
                        <h4>Australian female exercise data</h4>
                        <iframe scrolling="no" width=100% height=580 src="/femaleexercisegraph" frameborder=0 marginwidth="50">
                        </iframe>
                </div>
                
                <div id="Leisure" class="tabcontent">
                <h4>Why exercise is important to work-life balance</h4>
                    <P>the more people work, the less time they have to spend on other activities, such as personal care 
                    or leisure. The amount and quality of leisure time is important for people's overall well-being, 
                    and can bring additional physical and mental health benefits.</P>
                  <p>Increases in leisure time generally mean the increase availability to family, 
                  many hobbies such as arts, sports or even just downtime can be experience while being with family.</p>
                  <a href="/life" class="btn btn-info btn-xs">Places to enjoy life as a family</a>
                  <br>
                  <h4>How Australians spend their time on leisure data</h4>
                  <p>Australians spent on average 2.79 hours a day on social, recreation and leisure activities</p>
                  <iframe scrolling="no" width=100% height=100% src="/timetreemap" frameborder=0 marginwidth="50">
                  </iframe>
                </div>
                
                <script>
                function openPage(pageName,elmnt,color) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablink");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].style.backgroundColor = "";
                    }
                    document.getElementById(pageName).style.display = "block";
                    elmnt.style.backgroundColor = color;
                
                }
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
                </script>
            </div>
        </div>
    </div>
<% include partials/footer %>