<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/family-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>What can I do for the family member who work too much?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              1.Find mutual hobbies<br>
              Everyone will have their own hobbies. If you find mutual hobbies with your workaholic partner, when they have a break from busy work, you could spend time together on something both of you will enjoy.<br><br>
              2.Understand your spouse’s job<br>
              It is helpful to know about your partner’s work, and why he or she can get so much satisfaction from it. The more you understand, the less you feel resentful. Therefore, when your spouse needs encouragement, you will always be there.<br><br>
              3.Prioritize social events<br>
              When there are many social events you want your spouse to attend, and he or she doesn’t have so much time, it is significant to choose the most important event to attend, such as children’s school activity.<br><br>
              4.Schedule tech-free time<br>
              For workaholics, it is hard to get rid of work. When they are free, it is better to communicate with family instead of sticking on phones. It is useful that all the family lock their cellphones and gather together to have a communication on a selected time like Friday night.<br><br>
              5.Don’t nag<br>
              No one likes a pest, especially for people to feel lots of pressure from work. It is important to communicate in a positive and soft way. For example, try to use ‘I feel lonely’ instead of  ‘you are so selfish’. Communication skills are also necessary for family conversation.<br><br>
              6.Last resort: Therapy<br>
              If none of these strategies helps to break your spouse’s workaholic cycle, try to find professional help. </p>
          </div>
        </div>
      </div>
    </article>

    <hr>
<% include partials/footer %>