<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/family-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>What can I do for the family member who works too much?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <style>
                * {box-sizing: border-box}
                
                /* Set height of body and the document to 100% */
                body, html {
                    height: 100%;
                    margin: 0;
                    font-family: Arial;
                }
                
                /* Style tab links */
                .tablink {
                    background-color: #666;
                    color: white;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    font-size: 17px;
                    width: 25%;
                }
                
                .tablink:hover {
                    /*background-color: #777;*/
                    background-color: #929593;
                }
                
                /* Style the tab content (and add height:100% for full page content) */
                .tabcontent {
                    color: black;
                    display: none;
                    padding: 100px 20px;
                    height: 100%;
                }
                
                #Home {background-color: white;}
                #News {background-color: white;}
                #Contact {background-color: white;}
                #About {background-color: white;}
                
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
                th, td {
                    padding: 5px;
                }
                th {
                    text-align: left;
                }
                </style>
                </head>
                <body>
                <button class="tablink" onclick="openPage('hobby', this, 'DodgerBlue')" id="defaultOpen">Find Mutual Hobbies</button>
                <button class="tablink" onclick="openPage('relationships', this, 'DodgerBlue')">Family Relationships</button>
                <button class="tablink" onclick="openPage('recommendations', this, 'DodgerBlue')">Places To Go</button>
                <button class="tablink" onclick="openPage('record', this, 'DodgerBlue')">Record Progress</button>
                
                <div id="hobby" class="tabcontent">
                    <h4>Find Mutual Hobbies</h4>
                      <p>"Workaholics often feel like they have to be doing something," says Bryan Robinson, former professor emeritus 
                      at University of North Carolina at Charlotte who has studied the effects of workaholism on family life. "[Hobbies 
                      a family can do together] help them connect with you." Even something as simple as walking around the neighborhood can work. </p>
                </div>
                
                <div id="relationships" class="tabcontent">
                    <h4>Hobbies strengthen your family relationships.</h4>
                    <p>Once you find a hobby that you love, you can share it with loved one, and spend more time together. 
                    If there is not a new hobby that you both want to start together, invite your family member to join you in your current hobby or 
                    join your family member's current hobby.
                    Maybe you have developed a love for painting. Ask your spouse to join you and see what you all can come up with together. 
                    This will help you spend time together while you are painting, and then even more time afterward while you are enjoying whatever you 
                    decided to make.</p>
                </div>
                
                <div id="recommendations" class="tabcontent">
                  <h4>Check out popular places in Victoria where your family can spend together</h4>
                  <br>
                  <a href="/life" class="btn btn-info btn-xs">Go ></a>
                </div>
                
                <div id="record" class="tabcontent">
                  <h4>Start recording</h4>
                  <p>Record your loved one's time spent with family and on hobbies, this is important for improving your loved one's work life balance. By recording, it is 
                  easier for you to see the trend and the progression of your loved one's life style.</p>
                  <a href="/workaholics" class="btn btn-info btn-xs">Start Record</a>
                </div>
          
                <script>
                function openPage(pageName,elmnt,color) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablink");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].style.backgroundColor = "";
                    }
                    document.getElementById(pageName).style.display = "block";
                    elmnt.style.backgroundColor = color;
                }
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
                </script>
            </div>
        </div>
    </div>

<% include partials/footer %>