<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/family-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>What can I do for the family member who works too much?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              1.Find mutual hobbies<br>
              Everyone will have their own hobbies. If you're able to find mutual hobbies with your partner, you could find it easier to persuade them to spend time with you on something both of you will enjoy.<br><br>
              2.Understand your spouse’s job<br>
              It is helpful to know about your partner’s work, and why they can get so much satisfaction from it. The more you understand, the less resentment you feel. Therefore, you're able to provide encouragement at the right time when your spouse needs it.<br><br>
              3.Prioritize social events<br>
              When there are many social events you want your spouse to attend, and he or she doesn’t have at that much time, it is important to prioritise the events so that while they might not be able to attend all social event, they'll at least be at the essential ones.<br><br>
              4.Schedule tech-free time<br>
              For workaholics, it is hard to walk away from work. When they are free, it is better to be occupied with communication with family rather than being on electrical devices such as phones and computers. It is helpful to have the family put away their electrical devices and focus on having quality family time. Eg. This may be scheduled every Friday night.<br><br>
              5.Don’t nag<br>
              No one likes a pest, especially for people who may be under lots of pressure from work. It is important to communicate in a positive way. For example, try to use ‘I feel lonely’ instead of  ‘you never spend time with me’. Communication skills are also necessary for family conversation.<br><br>
              6.Last resort: Therapy<br>
              If none of these strategies help in improving the person's work life balance, there may be a need for professional help. </p>
          </div>
        </div>
      </div>
    </article>
<% include partials/footer %>