<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Work Life Balance</h1>
              <span class="subheading">We Help Your Family Achieve A Better Work Life Balance</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <br>
    <!--Main content-->
    <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="section-heading">Got a family member who may be a workaholic?</h2>
      <p>This site will help you assess their habits and whether they might be at risk of health issues in the long term.</p>
    </div>
    <div class="col-sm-6">
        <div class="thumbnail">
                   <img  src="/img/ProjectLogo.PNG" style = "width:100%">
        </div>
    </div>
  </div>
</div>
    <br>
    <hr>            
    <br>      
    <div class="container">
     <div class="row" >
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/workaholicThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>Is your loved one a workaholic?</h4>
                       <a href="/assessment" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div class="thumbnail">
                   <img  src="/img/familyThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>What is workaholic and why is this issue so important?</h4>
                       <a href="/workaholic" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/help-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>How can i help as a family member?</h4>
                       <a href="/family" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            </div>
            </div>

    <hr>
    <% include partials/footer %>