<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Work Life Balance</h1>
              <span class="subheading">Help Your Family Achieve A Better Work Life Balance</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
     <div class="row" >
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a href="/facts">
                <div class="thumbnail">
                   <img  src="/img/workaholicThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                      <h4>Step 1 </h4>
                      <h5>Understand information about work life balance and do a quick assessment</h5>
                   </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" >
              <a href="/family">
                <div class="thumbnail">
                   <img  src="/img/familyThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                      <h4>Step 2</h4>
                      <h5>how to help a family member improve his/her work life balance</h5>
                   </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a href="/life">
                <div class="thumbnail">
                   <img  src="/img/help-min.jpg" style = "width:100%">
                   <div class="caption">
                      <h4>Step 3</h4>
                      <h5>Where can we go, what can we do as a family activity</h5>
                   </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a href="workaholics">
                <div class="thumbnail">
                   <img  src="/img/chart-min.jpg" style = "width:100%">
                   <div class="caption">
                      <h4>Step 4</h4>
                      <h5>Record your family's progress</h5>
                   </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        
        <hr>
        
    <!--reference link:https://www.couriermail.com.au/news/queensland/australians-lagging-behind-oecd-countries-in-worklife-balance-home-ownership-and-safety/news-story/d470897725278916240ee39e30f9492d-->
    <div class="container">
      <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-12">
              <a href="workaholics">
                <div class="thumbnail">
                   <img  src="/img/overwork.jpg" style = "width:100%">
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4>AUSTRALIANS have one of the worst levels of work-life balance in the world, the latest national snapshot shows.</h4>
                <p>“While we have made some inroads into achieving work-life balance, we are still among the bottom third of OECD countries when it comes to working long hours,’’ Australian Institute of Health and Welfare chief executive Barry Sandison said.
                <br>The AIHW’s two-yearly study of welfare in Australia says one in five male and 7 per cent of female employees worked 50 hours or more per week in 2015. Only seven of the 35 countries analysed were worse.</p>
            </div>
      </div>    
    </div>
    
       
    <% include partials/footer %>