<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Work Life Balance</h1>
              <span class="subheading">Help Your Family Achieve A Better Work Life Balance</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <br>
    <!--Main content-->
    <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="section-heading">Have a family member who works too much?</h2>
      <p>This site will help you assess their habits and whether they might be at risk of health issues in the long term. 
      Developing a mutual hobby and attend more family activities are the key to more balanced work-life. </p>
    </div>
    <div class="col-sm-6">
        <div class="thumbnail">
                   <img  src="/img/biglogo.PNG" style = "width:100%">
        </div>
    </div>
  </div>
</div>
    <br>
    <hr>            
    <br>      
    <div class="container">
     <div class="row" >
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/workaholicThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>Is your loved one addicted to work?</h4>
                       <a href="/assessment" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div class="thumbnail">
                   <img  src="/img/familyThumb-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>What is workaholic and why is this issue so important?</h4>
                       <a href="/workaholic" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/help-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>How can i help as a family member?</h4>
                       <a href="/family" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/chart-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>View the related Australian data </h4>
                       <a href="/showworktimegraph" class="btn btn-info btn-sm">More info</a>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                   <img  src="/img/record-min.jpg" style = "width:100%">
                   <div class="caption">
                       <h4>Record your loved one's time spend on family and hobby.</h4>
                       <a href="/workaholics" class="btn btn-info btn-sm">Get Started</a>
                   </div>
                </div>
            </div>
            </div>
            </div>
    
    <hr>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img  src="/img/TeamLogo.PNG" style = "width:100%">
                </div>
            </div>
            <div class="col-sm-6">
              <h2 class="section-heading">Our Team</h2>
              <p>This site will help you assess their habits and whether they might be at risk of health issues in the long term. 
              Developing a mutual hobby and attend more family activities are the key to more balanced work-life. </p>
            </div>
        </div>
    </div>
    <hr>
    <% include partials/footer %>