<% include partials/header %>
<header class="masthead" style="background-image: url('/img/track-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add new person</h1>
              <span class="subheading">please create profile of the person whose work life balance you'd like to improve</span>
            </div>
          </div>
        </div>
      </div>
    </header>

</script>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">  
            <form action="/workaholics" method="POST">
                <div class="form-group">
                  <label for="inputName4">Name</label>
                  <input type="text" required maxlength="50" pattern="[A-Za-z0-9 ]+" title="Only number and letters allowed" class="form-control" id="inputName4" name="name" placeholder="Name of the person">
                </div>
              <div class="form-group" >
                <label for="inputAgw">Age</label>
                <input type="number" required min="12" max="100" class="form-control" id="inputAge" name="age" placeholder="Age of the person">
              </div>
              <div class="form-group">
                <label for="inputOccupation">Occupation</label>
                <input type="text" required maxlength="50" pattern="[A-Za-z0-9 ]+" title="Only number and letters allowed" class="form-control" id="inputOccupation" name="occupation" placeholder="The job of the person">
              </div>
                <div class="form-group ">
                  <label for="inputGender">Gender</label>
                  <select id="inputGender" required class="form-control" name="gender">
                    <option selected >Male</option>
                    <!--<option>Male</option>-->
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group ">
                  <label for="inputRelation">Relation With You</label>
                  <select id="inputRelation" required class="form-control" name="relation">
                    <option selected>Husband</option>
                    <option>Wife</option>
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Son</option>
                    <option>Daughter</option>
                    <option>Cousin</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group ">
                  <label for="inputRelation">What is his/her favourite hobby?</label>
                  <select id="inputRelation" required class="form-control" name="hobby">
                    <option selected>Arts</option>
                    <option>Sports</option>
                  </select>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>        </p>
            <a href="/workaholics" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>