<% include partials/header %>
<header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Register</h1>
              <span class="subheading">Resgister for our website and start tracking family time and happy memory</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Sigh up form</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="text" name="email" placeholder="email">
            <button class = "btn btn-primary btn-sm">Submit</button>
        </form>

        <!--<a href="/register" class = "btn btn-primary btn-sm">Sign Up</a>-->
        <p>If you already have an account</p>
        <a href="/login" class = "btn btn-primary btn-sm">Login</a>
        <!--<a href="/logout" class = "btn btn-warning  btn-sm">Logout</a>-->
        </div>
      </div>
    </div>

<% include partials/footer %>