<% include partials/header %>
<header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Recording your loved one's family times and happy memories</h1>
              <span class="subheading">Have you ever wondered how much time your loved one spends with you? The happy memories of the family is the key</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>This is the tracking page </h1>
          <a href = "/workaholics">See all profiles</a>
        </div>
      </div>
    </div>

<% include partials/footer %>