<% include partials/header %>
    <header class="masthead" style="background-image: url('/img/workaholic.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>What is Workaholic?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- What is workaholic? Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>The term ‘workaholic’ was first put forward by Wayne E. Oates, an American professor 
            in 1971, which means ‘the compulsion or the uncontrollable need to work incessantly’. 
            For workaholics, the intense passion for work will have a bad influence on their health, 
            happiness, and interpersonal relations between family and society.</p>
          </div>
        </div>
      </div>
    </article>
    <hr>
    <% include partials/footer %>