<% include partials/header %>   
    <header class="masthead" style="background-image: url('/img/workaholic.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Why is this issue important?</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- What is workaholic? Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Working an excessive amount of time can increase risk of:</p>
            <ul>
                <li>Cardiovascular Issues</li>
                <li>Relationship Problems</li>
                <li>Increase Alcohol and Tobacco Consumption</li>
                <li>Weight Gain</li>
                <li>Depression</li>
                <li>Time wasting</li>
                <li>Injury Rate</li>
                <li>Fatigue Related Problems</li>
                <li>Disrupted Sleep, Appetite, Blood Pressure, Immune System Function, Memory/Cognition and Mood.</li>
            </ul> 
          </div>
        </div>
      </div>
    </article>
    <hr>
    <% include partials/footer %>