<% include partials/header %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Problem Solvers</h1>
              <span class="subheading">We Solve Problems</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <img src = "/img/TeamLogo.PNG" style = "display: block; margin-left: auto; margin-right: auto;">
          <p></p>
        </div>
      </div>
    </div>

    <hr>
<% include partials/footer %>