<% include partials/header %>
    <header class="masthead" style="background-image: url('/img/workaholic.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Workaholic</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
                What is workaholic?
              </h2>
            
          </div>
          <a href="/whatisworkaholic" class="btn btn-info btn-xs">More info</a>
          <p>     </p>
          <hr>
          <p>     </p>
          <div class="post-preview">
              <h2 class="post-title">
                What is the difference between a hard worker and a workaholic??
              </h2>
          </div>
          <a href="/difference" class="btn btn-info btn-xs">More info</a>
          <p>     </p>
          <hr>
          <p>     </p>
          <div class="post-preview">
              <h2 class="post-title">
                Why is this issue important?
              </h2>
          </div>
          <a href="/whyimportant" class="btn btn-info btn-xs">More info</a>
          <p>     </p>
          <hr>
          <p>     </p>
          <div class="post-preview">
              <h2 class="post-title">
                How is this issue related to mental health?
              </h2>
          </div>
          <a href="/relatetomentalhealth" class="btn btn-info btn-xs">More info</a>
          <p>     </p>
          <hr>
          <p>     </p>
          <div class="post-preview">
              <h2 class="post-title">
                Are your family a workaholic? quick assessment
              </h2>
          </div>
          <a href="/assessment" class="btn btn-info btn-xs">More info</a>
          <p>     </p>
          <hr>
          <!-- Pager -->
        </div>
      </div>
    </div>

<% include partials/footer %>