<% include partials/header %>
<header class="masthead" style="background-image: url('/img/track-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Get started </h1>
              <span class="subheading">Get started by creating a profile for your loved one. This page shows the information about the people you want to help achieve a better work life balance. 
              Recording your loved one's time spent on family and hobbies is a good starting point to make sure they're enjoying life while also working</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto"> 
    <a href="/workaholics/newWorkaholic" class="btn btn-success">Add person you want to record</a> 
        </div>
      </div>
    </div>

    <hr>

<div class="container">
    <div class="row">
          <div class="col-lg-12 col-md-12 mx-auto">
              <p>Click name to see the records</p>
              <div class="topnav">
                  <a class="active" >All people being recorded:</a>
                    <% workaholics.forEach(function(workaholic){ %>
                    <% if(currentUser && workaholic.user.id.equals(currentUser._id)){ %>
                  <a href="/workaholics/<%= workaholic._id %>"><%= workaholic.name %></a>
                    <% } %>
                    <% }); %>
              </div>
          </div>
    </div>
</div>

<% include partials/footer %>