<% include ../partials/header %>
<header class="masthead" style="background-image: url('/img/daily-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>The detail of the daily record</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Date: <%= daily.date %></p>
          <p>How mauch time does he/she spend with family: <%= daily.family%> hour</p>
          <p>How mauch time does he/she spend on hobby: <%=  daily.hobbies %> hour</p>
          <br>
          <a href = "/workaholics/<%= workaholic_id %>" class = "btn btn-secondary">Go back</a>
        </div>
      </div>
    </div>
<% include ../partials/footer %>