<% include ../partials/header %>
<header class="masthead" style="background-image: url('/img/familytime-min.jpg')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>How Australian spend their time everyday</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
              <a href = "#graph" class="list-group-item list-group-item-action active">
                Interactive graph
              </a>
              <a id = "graph" href="/showworktimegraph" class="list-group-item list-group-item-action">How Australian spend their time everyday</a>
              <a href="/showpaidjobgraph" class="list-group-item list-group-item-action">Australian worker's paid hours per week</a>
              <a href="/showpaidindustrygraph" class="list-group-item list-group-item-action">Australian worker's paid hours per week by industry</a>
              <a href="/showpaidgendergraph" class="list-group-item list-group-item-action">Australian worker's paid hours per week by gender</a>
              <a href="/showmaleexercisegraph" class="list-group-item list-group-item-action">Australian male exercise data</a>
              <a href="/showfemaleexercisegraph" class="list-group-item list-group-item-action">Australian female exercise data</a>
            </div>
        </div>
        <div class="col-sm-9">
            <iframe  width=100% height=1000 src="/worktimegraph" frameborder=0 marginwidth="50">
            </iframe>
        </div>
        <br>
        <a href="/assessment" class="btn btn-secondary">Go Back</a>
    </div>
</div>

<hr>

<% include ../partials/footer %>